@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
}

<h2 class="btn btn-primary btn-lg disabled">Role Management</h2>



<table class="table table-striped table-hover ">
    
    <thead>
        <tr>
            <th colspan="3">
                <span class="">Available Roles</span>
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name

                </td>
                <td>

                    <span onclick="return confirm('Are you sure to delete?')"><a href="/Roles/Delete?RoleName=@item.Name" class="btn btn-danger">Delete</a></span>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { roleName = @item.Name},new { @class ="btn btn-info" })
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Create Role", "Create", "Role", new { @class = "btn btn-success" })
 @Html.ActionLink("Manage User Role", "ManageUserRoles","Role", new { @class = "btn btn-info" })
