@model A11_RBS.Domain.UserProfile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserProfile</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JoiningDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JoiningDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeePosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeePosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeavesAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeavesAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
